@{
    ViewData["Title"] = "Collection";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

                <h2><strong>AVISTED</strong> helps the climate researchers in identifying the trends, patterns and outliers quickly. The main goal of AVISTED is to help the climate researchers in visualizing the datasets of their choice over the web.</h2>
            </hgroup>
            
        </div>
    </section>
}
<div class="container-fluid" style="margin-left:10%;">

    <div class="row" style="float :left;">
        @if (Context.User.Identity.IsAuthenticated)
        {
        <div class=".col-lg-6" style="padding-bottom: 10px;"><a asp-controller="MdlOptMngmt" asp-action="Index" class="btn btn-info">Model Output Management</a></div>
        <div class=".col-lg-6" style="padding-bottom: 10px;"><a asp-controller="ArchivesDwnds" asp-action="Index" class="btn btn-info">Archives and Download</a></div>
        }
        <div class=".col-lg-6" style="padding-bottom: 10px;"><a asp-controller="MdlOptMngmt" asp-action="Guest" class="btn btn-info">Model Output</a></div>
        
    </div>
   
</div>
