@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    For more information<br />
    <strong>Contact</strong><abbr title="Phone"><a href="mailto:likhithar2011@gmail.com">likhithar2011@gmail.com</a></abbr>

</address>